#container {
    background-image: url('../img/shirts-web/lightsilver.jpg') !important;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}