:root {
    --fg-main-color: #000;
    --fg-second-color: #fff;
    --bg-main-color: #000;
    --bg-second-color: #fff;
    --border-main-color: #fff;
    --fg-footer-color: #aaa;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', serif;
}

.mobile {
    display: none;
}

/* HEADER SECTION */

.pc {
    width: 100%;
    margin-bottom: 1.5rem;
}

.pc nav ul {
    text-align: right;
}

.pc nav ul li {
    display: inline-block;
    padding: 0 2.5rem;
}

.pc nav ul li a {
    color: var(--fg-main-color, #000);
    text-decoration: none;
}

.pc nav ul .inicio {
    padding: 0 3.5333rem;
}

.pc nav div {
    position: relative;
    top: 1.7rem;
    margin-left: 2.5rem;
    width: 1rem;
}

.pc nav div a {
    text-decoration: none;
    color: var(--fg-main-color, #000);
    font-size: 1.3rem;
}

/* BG SECTION */

.bg {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 51.5rem;
    background-image: url('../img/bg-gif.gif');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-bottom: 1.5rem;
}

.bg div {
    width: 100%;
    text-align: center;
    z-index: 2;
    color: var(--fg-second-color, #fff);
}

.bg div h2 {
    font-size: 2.5rem;
    letter-spacing: .2rem;
}


/* INTRO SECTION */

.intro {
    display: flex;
    padding: 1rem 8rem;
}

.intro article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2rem 0;
    margin: 0 auto;
    /* background-color: #FFF6EC; */
    width: 72rem;
}

.intro article div {
    padding: 0 1rem;
}

.intro article .mini-intro {
    margin-left: 1rem;
}

.intro article .mini-intro h2 {
    font-size: 2rem;
}

.intro article .mini-intro p {
    width: 30rem;
    font-size: 1.15rem;
}

.intro article .mini-intro div {
    display: flex;
    width: 100%;
    margin-top: 4rem;
    text-align: center;
}

.intro article .mini-intro h2 {
    margin-bottom: .8rem;
}

.intro article .mini-intro div {
    padding: 0;
    text-align: left;
    margin-bottom: 2rem;
}

.intro article .mini-intro div a {
    padding: .7rem 5rem;
    border-radius: 3rem;
    background-color: var(--bg-main-color, #000);
    color: var(--border-main-color, #fff);
    text-decoration: none;
    transition: filter 100ms linear 50ms;
}

.intro article .mini-intro div a:hover {
    filter: drop-shadow(var(--bg-main-color) .3rem .3rem .3rem);
    border: none;
}

.intro article .mini-intro div a:active {
    position: relative; 
    top: .2rem;
}

.intro article .img {
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.intro article .img img {
    width: 100%;
    height: auto;
    border-radius: 3rem;
    filter: saturate(150%);
}

/* CATALOG SECTION */

.catalog {
    width: 100%;
    padding: 1rem 0 8rem 0;
}

.catalog h2 {
    text-align: center;
    margin: 2rem 0;
    font-size: 2rem;
}

.catalog article {
    width: 80%;
    display: grid;
    margin: 0 auto;
    gap: 2rem 1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.catalog article .tshirt-card {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 2rem 0;
    cursor: pointer;
    /* background-color: #FFF6EC; */
    border-radius: 4rem;
}

.catalog article .tshirt-card a {
    text-decoration: none;
    color: var(--fg-main-color, #fff);
}

.catalog article .tshirt-card div {
    width: 100%;
    transition: transform 100ms linear 50ms;
}

.catalog article .tshirt-card div:hover {
    transform: scale(102%);
}

.catalog article .tshirt-card div img{
    border-radius: 3rem;
    width: 60%;
    height: auto;
}

.catalog article .tshirt-card p a {
    width: 100%;
    text-align: center;
    color: var(--fg-second-color, #fff);
    padding: 0 .3rem;
}

.catalog article .tshirt-card .buy-btn {
    background-color: var(--bg-main-color, #000);
    border-radius:  2rem;;
    width: 10rem;
    height: 2.5rem;
    align-content: center;
    margin: 0 auto;
    transition: filter 100ms linear 50ms;
    margin-top: .6rem;
}

.catalog article .tshirt-card .buy-btn a:hover {
    text-decoration: underline;
}

.catalog article .tshirt-card .buy-btn:hover {
    filter: drop-shadow(var(--bg-main-color) .3rem .3rem .3rem)
}

.catalog article .tshirt-card .buy-btn:active {
    position: relative;
    top: .1rem;
}

/* INFO SECTION */

.info {
    width: 100%;
    margin: 0;
    padding: 4rem 0;
    background-color: var(--bg-main-color, #000);
}

.info article {
    text-align: center;
    color: var(--fg-second-color, #fff);
    background-color: var(--bg-main-color, #000);
}

.info article h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.info article p {
    margin: 0 auto;
    width: 55%;
    margin-bottom: 2rem;
}

.info article div i {
    position: relative;
    right: 1.5rem;
    cursor: pointer;
}

.info article div input {
    width: 20rem;
    height: 2rem;
    padding: 1rem;
    background-color: var(--bg-main-color, #000);
    border: none;
    border-radius: .5rem;
    margin-bottom: 1rem;
    color: var(--fg-second-color, #fff);
}

.info article div input::placeholder {
    color: var(--fg-second-color, #fff);
}

.info article p a {
    color: var(--fg-second-color, #fff);
    text-decoration: none;
}

.info article a img {
    border-radius: .5rem;
    width: 10rem;
    transition: transform 100ms linear 50ms;
}

.info article a img:hover {
    transform: scale(125%);
}

.info article a img:active {
    position: relative;
    top: .5rem;
}

/* FOOTER SECTION */

.footer-pc {
    border-top: darkgray solid .1rem;
    width: 100%;
    background-color: var(--bg-main-color, #fff);
    padding: 1rem;
    margin: 0;
}

.footer-pc p {
    color: var(--fg-footer-color, #aaa);
}

.footer-pc p a {
    color: var(--fg-footer-color, #aaa);
    text-decoration: none;
}

.footer-pc p a:hover {
    text-decoration: underline;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 480px) {
    .pc {
        display: none;
    }

    .mobile {
        display: block; 
    }

    /* HEADER MOBILE SECTION */

    .header-mobile {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 3.5rem;
        width: 100%;
        padding: 1rem 1rem;
    }

    .header-mobile nav {
        display: inline-block;
        position: relative;
    }

    .header-mobile div {
        text-align: left;
        display: inline-block;
    }

    .header-mobile div a {
        color: var(--fg-main-color, #000);
        text-decoration: none;
    }

    .header-mobile nav ul {
        text-align: center;
        display: inline-block;
    }
    
    .header-mobile nav ul li {
        padding: 0 1rem;
        display: inline-block;
    }
    
    .header-mobile nav ul li a {
        color: var(--fg-main-color, #000);
        text-decoration: none;
    }

    /* BG MOBILE SECTION */

    .bg-mobile {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 55rem;
        background-image: url('../img/bg-gif.gif');
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    .bg-mobile div h2 {
        color: var(--fg-second-color, #fff);
        font-size: 2rem;
    }

    /* INTRO MOBILE SECTION */

    .intro-mobile {
        margin: 2rem 0;
        padding: 0 2rem;
    }
    
    .intro-mobile article div {
        margin: 2rem 0;
    }
    
    .intro-mobile article div a {
        background-color: var(--bg-main-color, #000);
        color: var(--fg-second-color, #fff);
        border-radius: 2rem;
        padding: 1rem 3rem;
        text-decoration: none;
        transition: filter 100ms linear 50ms;
    }

    .intro-mobile article div a:hover {
        filter: drop-shadow(var(--bg-main-color, #000) .3rem .3rem .3rem);
    }

    .intro-mobile article img {
        margin-top: 1rem;
        width: 100%;
        border-radius: 3rem;
    }

    /* CATALOG MOBILE SECTION */

    .catalog-mobile {
        width: 100%;
        margin: 2rem 0;
        padding: 0 2rem;
    }

    .catalog-mobile h2 {
        text-align: center;
        font-size: 2rem;
    }

    .catalog-mobile article .tshirt-mobile-card {
        width: 100%;
        margin: 4rem 0;
        text-align: center;
        transition: transform 100ms linear 50ms;
    }

    .catalog-mobile article .tshirt-mobile-card:hover {
        transform: scale(102%);
    }

    .catalog-mobile article .tshirt-mobile-card img {
        width: 100%;
        border-radius: 2rem;
    }

    .catalog-mobile article .tshirt-mobile-card h4 {
        font-size: 1.1rem;
    }

    .catalog-mobile article .tshirt-mobile-card .buy-mobile-btn {
        margin: .6rem auto;
        width: 4rem;
        height: 2.5rem;
        align-content: center;
    }

    .catalog-mobile article .tshirt-mobile-card .buy-mobile-btn:hover {
        filter: drop-shadow(var(--bg-main-color, #000) .3rem .3rem .3rem)
    }

    .catalog-mobile article .tshirt-mobile-card .buy-mobile-btn:active {
        position: relative;
        top: .1rem;
    }

    .catalog-mobile article .tshirt-mobile-card .buy-mobile-btn a {
        background-color: var(--bg-main-color, #000);
        color: var(--fg-second-color, #fff);
        border-radius: 100%;
        text-decoration: none;
        padding: .8rem 1rem;
    }

    .catalog-mobile article .tshirt-mobile-card .buy-mobile-btn a:hover {
        text-decoration: underline;
    }

    /* INFO MOBILE SECTION */

    .info-mobile {
        width: 100%;
        padding: 0 2rem;
        background-color: var(--bg-main-color, #000);
        color: var(--fg-second-color, #fff);
    }

    .info-mobile article {
        padding: 3rem 0;
        text-align: center;
    }

    .info-mobile article h2 {
        margin: 1rem 0;
    }

    .info-mobile article p {
        margin: 1rem 0;
    }

    .info-mobile div input {
        background-color: var(--bg-main-color, #000);
        color: var(--fg-second-color, #fff);
        border: none;
        width: 70%;
        height: 2rem;
        border-radius: 2rem;
        margin: 1rem 0;
    }

    .info-mobile div input::placeholder {
        color: var(--fg-second-color, #fff);
    }

    .info-mobile div i {
        position: relative;
        right: 1.2rem;
        top: .1rem;
    }

    .info-mobile article a img {
        width: 50%;
        border-radius: 2rem;
        transition: transform 100ms linear 50ms;
    }

    .info-mobile article a img:hover {
        transform: scale(110%);
    }

    .info-mobile article p a {
        color: var(--fg-second-color, #fff);
        text-decoration: none;
    }

    /* FOOTER MOBILE SECTION */

    .footer-mobile {
        border-top: .1rem solid var(--border-main-color);
        padding: 1rem;
        width: 100%;
        background-color: var(--bg-main-color, #000);
    }
    
    .footer-mobile p {
        color: var(--fg-footer-color, #aaa);
        font-size: .8rem;
    }

    .footer-mobile p a {
        color: var(--fg-footer-color, #aaa);
        text-decoration: none;
    }
}