:root {
    --fg-main-color: #000;
    --fg-second-color: #fff;
    --bg-main-color: #000;
    --bg-second-color: #fff;
    --border-main-color: #fff;
    --fg-footer-color: #aaa;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', serif;
}

.mobile {
    display: none;
}

body {
    transition: background-color 200ms linear 50ms, color 200ms linear 50ms;
}

#switch-bg {
    cursor: pointer;
}

/* HEADER SECTION */

.pc {
    width: 100%;
    margin-bottom: 1.5rem;
}

.pc nav ul {
    text-align: right;
}

.pc nav ul li {
    display: inline-block;
    padding: 0 2.5rem;
}

.pc nav ul li a {
    color: var(--fg-main-color, #000);
    text-decoration: none;
}

.pc nav ul .inicio {
    padding: 0 3.5333rem;
}

.pc nav div {
    position: relative;
    top: 1.7rem;
    margin-left: 2.5rem;
    width: 1rem;
}

.pc nav div a {
    text-decoration: none;
    color: var(--fg-main-color, #000);
    font-size: 1.3rem;
}

/* CONTAINER SECTION */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 58rem;
    background-image: url('../img/shirts-web/beige-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.container article {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 85%;
    height: 80%;
    background-color: var(--bg-second-color, #fff);
    border-radius: 2rem;
    transition: background-color 200ms linear 50ms, color 200ms linear 50ms;
}

.container article .shirtInCuestion-shirt {
    padding: 3rem 0 3rem 2rem;
    display: grid;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.container article .shirtInCuestion-shirt img {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
}

.container article .text {
    margin: 0 2rem;
}

.container article .text h2, p, a {
    line-height: 1.5;
}

.container article .text h2 {
    font-size: 2.3rem;
    margin-bottom: .8rem;
}

.container article .text h4 {
    margin-bottom: .8rem;
    font-size: 1.5rem;
}

.container article .text p {
    width: 80%;
    font-size: 1.1rem;
}

.container article .buy-it {
    margin-top: 4rem;
    margin-bottom: 7rem;
}

.container article .buy-it a {
    padding: 1rem 5rem;
    border-radius: 2rem;
    color: var(--fg-second-color, #fff);
    text-decoration: none;
    background-color: var(--bg-main-color, #000);
    transition: filter 100ms linear 50ms, background-color 200ms linear 50ms, color 200ms linear 50ms;
}

.container article .buy-it a:hover {
    filter: drop-shadow(var(--bg-main-color, #000) .3rem .3rem .3rem);
}

.container article .buy-it a:active {
    position: relative;
    top: .2rem;
}

.container article .buy-it i {
    margin: 0 .3rem;
}

/* MORE SHIRTS SECTION */

.more-shirts {
    margin: 4rem 0;
    width: 100%;
}

.more-shirts .text-more-shirts {
    text-align: center;
    font-size: 2rem;
}

.more-shirts article {
    padding: 2rem 2rem;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    column-gap: 2rem;
    align-items: start;
    justify-content: center;
}

.more-shirts article .tshirt-card h2, p, a {
    margin: .3rem 0;
}

.more-shirts article .tshirt-card {
    width: 100%;
    text-align: center;
}

.more-shirts article .tshirt-card div img {
    border-radius: 2rem;
    width: 100%;
}

.more-shirts article .tshirt-card div a img {
    transition: transform 100ms linear 50ms;
}

.more-shirts article .tshirt-card div a img:hover {
    transform: scale(103%);
}

.more-shirts article .tshirt-card h2 {
    margin: 0 auto;
    font-size: .8rem;
    width: 50%;
}

.more-shirts article .tshirt-card p {
    margin-bottom: .8rem;
}

.more-shirts article .tshirt-card .cart-btn {
    background-color: var(--bg-main-color, #000);
    color: var(--fg-second-color, #fff);
    text-decoration: none;
    border-radius: 100%;
    padding: .6rem .8rem;
    transition: filter 100ms linear 50ms;
}

.more-shirts article .tshirt-card .cart-btn:hover {
    filter: drop-shadow(var(--bg-main-color, #000) .3rem .3rem .3rem);
}

.more-shirts article .tshirt-card .cart-btn:active {
    position: relative;
    top: .2rem;
}

/* FOOTER SECTION */

.footer-pc {
    display: flex;
    align-items: center;
    margin: 0;
    background-color: var(--bg-main-color, #000);
    width: 100%;
    height: 3rem;
    color: var(--fg-footer-color, #aaa);
}

.footer-pc p {
    margin-left: .8rem;
    font-size: .8rem;
}

.footer-pc a {
    color: var(--fg-footer-color, #aaa);
    text-decoration: none;
}

.footer-pc a:hover {
    text-decoration: underline;
}

/* DARK MODE */

.dark {
    background-color: #000000;
    color: var(--fg-second-color, #fff);
}

.dark a {
    color: var(--fg-second-color, #fff) !important;
}

.dark .container article {
    background-color: var(--bg-main-color, #000);
    color: var(--fg-second-color, #fff) !important;
}

.dark .container article .buy-it a {
    color: var(--fg-main-color, #000) !important;
    background-color: var(--bg-second-color, #fff);
}

.dark .container article .buy-it a:hover {
    filter: drop-shadow(var(--bg-second-color, #fff) .3rem .3rem .3rem);
}

.dark .more-shirts article .tshirt-card .cart-btn {
    background-color: var(--bg-second-color, #fff);
    color: var(--fg-main-color, #000) !important;
}

.more-shirts article .tshirt-card .cart-btn:hover {
    filter: drop-shadow(var(--bg-second-color, #fff) .3rem .3rem .3rem);
}

/* MEDIA QUERIES */

@media only screen and (max-width: 480px) {
    .pc {
        display: none;
    }

    .mobile {
        display: block;
    }

    /* HEADER MOBILE SECTION */

    .header-mobile {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 3.5rem;
        width: 100%;
        padding: 1rem 1rem;
    }

    .header-mobile nav {
        display: inline-block;
        position: relative;
    }

    .header-mobile div {
        text-align: left;
        display: inline-block;
    }

    .header-mobile div a {
        color: var(--fg-main-color, #000);
        text-decoration: none;
    }

    .header-mobile nav ul {
        text-align: center;
        display: inline-block;
    }
    
    .header-mobile nav ul li {
        padding: 0 1rem;
        display: inline-block;
    }
    
    .header-mobile nav ul li a {
        color: var(--fg-main-color, #000);
        text-decoration: none;
    }

    /* CONTAINER MOBILE SECTION */

    .container-mobile {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 75rem;
        background-image: url('../img/shirts-web/beige-bg.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    .container-mobile article {
        width: 90%;
        height: 85%;
        background-color: var(--bg-second-color, #fff);
        border-radius: 2rem;
    }

    .container-mobile .shirtInCuestion-mobile-shirt {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem 0;
    }

    .container-mobile .shirtInCuestion-mobile-shirt img {
        border-radius: 2rem;
        width: 90%;
    }

    .container-mobile .description-mobile {
        padding: 0 2rem;
    }

    .container-mobile .description-mobile h2 {
        font-size: 1.4rem;
    }

    .container-mobile .description-mobile h4 {
        font-size: 1.1rem;
    }

    .container-mobile .description-mobile p {
        font-size: .9rem;
        line-height: 1.5;
        letter-spacing: .02rem;
    }

    .container-mobile .buy-it-mobile {
        text-align: center;
        width: 100%;
        margin-top: 1.8rem;
    }

    .container-mobile .buy-it-mobile a {
        background-color: var(--bg-main-color, #000);
        color :var(--fg-second-color, #fff);
        padding: .8rem 1rem;
        border-radius: 2rem;
        transition: filter 100ms linear 50ms;
    }

    .container-mobile .buy-it-mobile a:hover {
        filter: drop-shadow(var(--bg-main-color, #000) .3rem .3rem .3rem);
    }

    .container-mobile .buy-it-mobile a:active {
        position: relative;
        top: .2rem;
    }

    /* MORE SHIRTS MOBILE SECTION */

    .more-shirts-mobile {
        width: 100%;
        margin: 2rem 0;
        padding: 0 2rem;
    }

    .more-shirts-mobile h2 {
        text-align: center;
        font-size: 2rem;
    }

    .more-shirts-mobile article .tshirt-mobile-card {
        width: 100%;
        margin: 4rem 0;
        text-align: center;
        transition: transform 100ms linear 50ms;
    }

    .more-shirts-mobile article .tshirt-mobile-card:hover {
        transform: scale(102%);
    }

    .more-shirts-mobile article .tshirt-mobile-card img {
        width: 100%;
        border-radius: 2rem;
    }

    .more-shirts-mobile article .tshirt-mobile-card h4 {
        font-size: 1.1rem;
    }

    .more-shirts-mobile article .tshirt-mobile-card .buy-mobile-btn {
        margin: .6rem auto;
        border-radius: 120rem;
        color: var(--fg-second-color, #fff);
        width: 4rem;
        height: 2.5rem;
        align-content: center;
        cursor: pointer;
    }

    .more-shirts-mobile article .tshirt-mobile-card .buy-mobile-btn:hover {
        filter: drop-shadow(var(--bg-main-color, #000) .3rem .3rem .3rem)
    }

    .more-shirts-mobile article .tshirt-mobile-card .buy-mobile-btn:active {
        position: relative;
        top: .1rem;
    }

    .more-shirts-mobile article .tshirt-mobile-card .buy-mobile-btn a {
        background-color: var(--bg-main-color, #000);
        color: var(--fg-second-color, #fff);
        text-decoration: none;
        padding: .7rem 1rem;
        border-radius: 100%;
    }

    .more-shirts-mobile article .tshirt-mobile-card .buy-mobile-btn a:hover {
        text-decoration: underline;
    }

    /* FOOTER MOBILE */

    .footer-mobile {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 3.5rem;
        background-color: var(--bg-main-color, #000);
    }
    
    .footer-mobile p {
        color: var(--fg-footer-color, #aaa);
        margin: 0 1rem;
        padding: 0;
        font-size: .8rem;
    }

    .footer-mobile p a {
        color: var(--fg-footer-color, #aaa);
        text-decoration: none;    
    }

        /* DARK MODE */

        .dark .catalog-mobile article .tshirt-mobile-card .buy-mobile-btn:hover {
            filter: drop-shadow(var(--bg-second-color, #fff) .3rem .3rem .3rem)
        }
    
        .dark .catalog-mobile article .tshirt-mobile-card .buy-mobile-btn a {
            background-color: var(--bg-second-color, #fff);
            color: var(--fg-main-color, #000) !important;
            border-radius: 100%;
            text-decoration: none;
            padding: .8rem 1rem;
        }
    
        .dark .info-mobile {
            width: 100%;
            padding: 0 2rem;
            background-color: var(--bg-second-color, #fff);
            color: var(--fg-main-color, #000);
        }
    
        .dark .intro-mobile article div a {
            background-color: var(--bg-second-color, #fff);
            color: var(--fg-main-color, #000) !important;
            border-radius: 2rem;
            padding: 1rem 3rem;
            text-decoration: none;
            transition: filter 100ms linear 50ms;
        }
    
        .dark .intro-mobile article div a:hover {
            filter: drop-shadow(var(--bg-second-color, #fff) .3rem .3rem .3rem);
        }
    
        .dark .info-mobile article p a {
            color: var(--fg-main-color, #000) !important;
            text-decoration: none;
        }
}